{% extends "layout.html" %}
{% block body %}
<h1 class="heading">Welcome to TopSolver!</h1>
<h3 class="subheading">Here you can find the answer for your every question of NCERT books of class 9th.</h3>
<div class="container">
    <a href="#"><div class="subject">English</div></a>
    <a href="#"><div class="subject">Hindi</div></a>
    <a href="#"><div class="subject">Maths</div></a>
    <a href="#"><div class="subject">Science</div></a>
    <a href="#"><div class="subject">Social Science</div></a>
</div>
{% endblock %}

